statemachine/crawler_external_data.asl.json
{
  "Comment": "Crawler External Data ASM",
  "StartAt": "Control",
  "States": {
    "Control": {
      "Type": "Task",
      "Resource": "${ControlFunctionArn}",
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Map",
          "States": {
            "Map": {
              "Type": "Map",
              "Iterator": {
                "StartAt": "Crawler",
                "States": {
                  "Crawler": {
                    "Type": "Task",
                    "Resource": "${CrawlerFunctionArn}",
                    "Catch": [
                      {
                        "ErrorEquals": [
                          "States.ALL"
                        ],
                        "Next": "log errors",
                        "ResultPath": "$.error"
                      }
                    ],
                    "End": true
                  },
                  "log errors": {
                    "Type": "Task",
                    "Resource": "${LogFunctionArn}",
                    "End": true
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "log process",
          "States": {
            "log process": {
              "Type": "Task",
              "Resource": "${LogFunctionArn}",
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}